
* {
	/* Force the browser to subtract the padding
	 * from the width of the element, instead of increasing the size.
	 */
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}


:root {
	--my-blue: #222D8F;
	--my-orange: #DB4B12;
	--my-green: #578F36;
	--my-lightgreen: #93FF61;
	/* --my-lightgreen: #76CC4E; */
	--my-successgreen: #4BB543;
	--my-successlightgreen: #AEDF8D;
	--my-red: #DB0106;
}

body {
	background-color: #eee;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

div#app {
	display: none;
}

div#main {
	background-color: #fff;
	margin: 0 auto 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* height: 100%; */
	/* width: 100%; */
	max-width: 65em;
	padding: 0em;
}





div#main div {
	padding: 2em;
	width: 100%;
	max-width: 100%;
}


div#main div#form {
	max-width: 50em;
	/* border: 1px solid black; */
}

input, textarea {
	display: block;
	width: 100%;
}



ul#downloads-list {
	list-style-type: none;
}

ul#downloads-list li {
	padding: 0.6em;
}

a {
	background-color: var(--my-blue);
	color: #eee;
	text-decoration: none;
	padding: 0.5em;
}

a.grey {
	background-color: #aaa;
	color: black;
}

a.darkgrey {
	background-color: #666;
}

a.purple {
	background-color: #aa22aa;
}

a.yellow {
	background-color: #bbbb22;
	color: black;
}

a:hover, a:active {
	background-color: var(--my-green);
}

a.deletebutton {
	background-color: var(--my-red);
}

a.deletebutton:hover {
	background-color: var(--my-orange);
}







div#buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0 2em 2em 2em;
}

div#buttons a.eventbutton {
	padding: 1em;
	min-width: 10em;
	width: 20%;
	flex-grow: 1;
	margin: 0.5em;
}

div#buttons a.eventbutton.fullsize {
	width: 100%;
}






div#success {
	background-color: var(--my-successlightgreen);
	/* border: 2px solid var(--my-successlightgreen); */
	color: var(--my-successgreen);
	/* font-weight: bold; */
	padding: 1em;
	position: fixed;
	top: 1em;
	right: 1em;
    /* left: 25%; */
    /* transform: translateX(-50%); */
	display: none;
}


div#main div#geolocation {
	/* border: 1px solid black; */
	padding: 0.4em;
	/* display: inline; */
	/* position: absolute; */
	/* top: 0; */
	/* right: 0; */
}

div#main div#geolocation.gps-success {
	background-color: var(--my-successlightgreen);
	color: var(--my-green);
}

div#main div#geolocation.gps-fail {
	background-color: var(--my-red);
	color: #550000;
}

